apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
  namespace: error
  labels:
    app: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: demo
        image: shasb.azurecr.io/playground-orders:test
        ports:
        - containerPort: 80

